.button_switch {
  background-color: #000;
  color: var(--button-text); /* Оставляем как fallback */
  padding: 10px 15px;
  box-shadow: 0 0 5px #fff;
  font-weight: bold;
  border: none; /* Добавляем, если кнопка не должна иметь границ */
  cursor: pointer; /* Указатель при наведении */
}

.button_switch:hover {
  transform: scale(1.05);
  transition: all 0.6s;
}

.darkText {
  color: #fff;
}

.lightText {
  color: #000;
}

[data-theme="dark"].button_switch {
  background-color: #fff;
}
