.memorandum {
  background-color: #fff3b4;
  border: 1px solid red;
  border-radius: 2px;
  box-shadow: 0 0 5px #535353;
  margin: 20px;
  padding: 15px;
  color: #000;
}

.important {
  background-color: #ffcfd9;
  border: 1px solid red;
  border-radius: 2px;
  box-shadow: 0 0 5px #535353;
  padding: 15px;
  font-style: italic;
  color: #000;
}

.description {
  margin: 20px;
}

.content h2 {
  /* padding-top: 20px; */
  margin-bottom: 10px;
}

.example_code {
  background-color: #cacaca;
  border: 1px solid #aaa;
  border-radius: 2px;
  box-shadow: 0 0 5px #535353;
  letter-spacing: 1px;
  padding: 20px;
  max-width: 100%;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #000;
}
