@import url("https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap");

:root {
  /* Светлая тема (по умолчанию) */
  --background: #ffffff;
  --text-color: #000000;
  --button-bg: #6b4acb;
  --button-text: #ffffff;
}

[data-theme="dark"] {
  /* Тёмная тема */
  --background: #1a1a1a;
  --text-color: #ffffff;
  --button-bg: #8a6bff;
  --button-text: #000000;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  margin: 0;
  font-family: Arial, sans-serif;
}

.main {
  min-height: 90vh;
  margin: 0 auto;
  max-width: 1000px;
  padding: 15px 15px 70px;
  line-height: 1.5;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
