.block_hooks {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.button_hooks {
  background-color: #feffff;
  /* border: 2px solid #0d80d8; */
  border-radius: 3px;
  color: #0d80d8;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  position: relative;
  transition: all 0.35s;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 0 5px #0d80d8;
}

.button_hooks span {
  position: relative;
  z-index: 99;
}

.button_hooks:hover {
  color: #fff;
}

.button_hooks:hover:after {
  width: 100%;
}

.button_hooks:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #0d80d8;
  transition: all 0.55s;
}
